<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="FolderMediaPlayer.Properties.KeyboardShortcut" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="FolderMediaPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
    <appSettings>
        <add key="DefaultCalture" value="en-US" />
	    <add key="DefaultWindowWidth" value="853.33" />
	    <add key="DefaultWindowHeight" value="480.0"/>
	</appSettings>
 <userSettings>
  <FolderMediaPlayer.Properties.KeyboardShortcut>
   <setting name="FullScreenOn" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <string>ToggleWindowState</string>
      <string>MainWindow</string>
      <string>F</string>
      <string>None</string>
      <string>Switch between full-screen and normal window mode</string>
     </ArrayOfString>
    </value>
   </setting>
  </FolderMediaPlayer.Properties.KeyboardShortcut>
  <FolderMediaPlayer.Properties.Settings>
   <setting name="StartupWindowMode" serializeAs="String">
    <value>Memorized</value>
   </setting>
   <setting name="ResizeModeWhenPlayingVideo" serializeAs="String">
    <value>Nothing</value>
   </setting>
   <setting name="LastWindowWidth" serializeAs="String">
    <value>1280</value>
   </setting>
   <setting name="LastWindowHeight" serializeAs="String">
    <value>720</value>
   </setting>
   <setting name="SpecifiedWindowWidth" serializeAs="String">
    <value>1280</value>
   </setting>
   <setting name="SpecifiedWindowHeight" serializeAs="String">
    <value>720</value>
   </setting>
   <setting name="AdjustVideoSizeScaling" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="FitToScreenSizeScaling" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="RestoreWindowPosition" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FixAspectRatio" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastWindowLeft" serializeAs="String">
    <value>480</value>
   </setting>
   <setting name="LastWindowTop" serializeAs="String">
    <value>480</value>
   </setting>
   <setting name="OnScreenPlaybackTimeDisplay" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OnScreenVolumeDisplay" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PlaybackEndBehavior" serializeAs="String">
    <value>NextMedia</value>
   </setting>
   <setting name="PlaybackBehavierNLoopN" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="OnScreenTitleDisplay" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MouseWheelBehavior" serializeAs="String">
    <value>Volume</value>
   </setting>
   <setting name="PlaybackVolume" serializeAs="String">
    <value>NoChange</value>
   </setting>
   <setting name="LastVolume" serializeAs="String">
    <value>0.3</value>
   </setting>
   <setting name="SpecifiedVolume" serializeAs="String">
    <value>0.3</value>
   </setting>
   <setting name="OnScreenSpeedDisplay" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MouseCursor" serializeAs="String">
    <value>AutoHide</value>
   </setting>
   <setting name="MouseXButtonBehavior" serializeAs="String">
    <value>ChangeMedia</value>
   </setting>
  </FolderMediaPlayer.Properties.Settings>
 </userSettings>
</configuration>